*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	color: #fff;
}

body{
	/* background-image: url("../images/bg.jpg"); */
	opacity: 1.2;
	background-position: center;
	background: linear-gradient(45deg, #2c3531 ,#d1e8e2, #116466);
}

/*Name*/
header{
	height: 100vh;
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 30px;
	background-image: url(../images/landing-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
}
/*use in mobile res*/
.header-text{
	display: none;
}
/*.header-text{
	height: 100;
	width: 50%;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-text > h1{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: white;
}

.header-text > p{
	font-family: 'Oxygen', sans-serif;
	color:white;
}*/
.mabz{
    height: 550px;
    position: absolute;
    top: 25%;
    display: inline-block;
}
 .mabz .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.mabz:hover .img-top, .mabz:hover .chat {
    display: inline;
}
.chat{
	position: absolute;
	display: none;
	left: -110%;
	top: -25%;
	transition: 1.5 ease;
}
/*nav bar*/
#mabzlogo{
	height: 100px;
	position: absolute;
	left:0;
}

#nav1{
	height: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: sticky;
	margin:20px;
	top:0;
	right:0;
	/* background-color: #116466; */
	background-color: rgba(136,133,133,0.5);
	color: white;
	z-index: 1;
}

#nav1 h1{
	position: absolute;
	left: 0;
}

#nav1 h1 span{
	color: #ffcb9a;
}

#nav1 > ul{
	display: inline-flex;
	list-style-type: none;
	font-family: 'Oxygen', sans-serif;
	float: right;
}

#nav1 > ul > li{
	margin: 0 25px;
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
	display: block;
	list-style-type: none;
}

#nav1 a{
	text-decoration: none;
	color: white;
	font-size: 15px;
	padding: 0 50px;

}

/*Side NavBar*/

#mySidenav{
	display: none;	
}
#navIcon{
	display: none;
}
/*About Me*/

/*#about{
	font-family: 'Oxygen', sans-serif;
	height: 100vh;
	font-size: 30px;
	align-items: center;
	justify-content: space-around;
	display: flex;
	/*background-image: url("../images/Background.png");*/
	/*padding: 75px 15px;*/
    /*border-bottom: 1px solid 1px solid #e6e6e6;*/

}

/*comment out first div sectiion of about*/

/*#about > div{*/
	/*height: 80vh;*/
	/*width: 80vw;*/
/*	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}*/

/*.about-left{
	border: 1px solid black;
}

.about-right{
	/*height: 100vh;*/
	/*border: 1px solid black;*/
/*}*/


/*#about ul{
	list-style-type: none;
}

#aboutImg{
	position: relative;
	bottom: -65px;
	height: 80%;
}*/
#about{
	display: flex;
	align-items: center;
	justify-content: space-around;
		
}

.aboutTitle{
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 50px;
	padding-top: 60px;
}

#about h5{
	/*text-align: center;*/
	font-family: 'Oxygen', sans-serif;
	font-size: 20px; 
	padding-top: 5px;
	font-weight: bold;
}

.aboutMe > img{
	height: 150px;
	width: 150px;
}

#about .aboutContainer{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin:50px;
	z-index: 1000;

}


/*Card*/
.cardContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	/*border: 1px solid black;*/
	
}

.aboutCard{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background-color: rgba(136,133,133,0.5);
	transition: 0.3s;
	padding: 20px;
}

.aboutCard:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.aboutCard > img{
	height: 300px;
	widows: 300px;
}

.cardInfo{
	padding: 2px 16px;
}

.aboutCard  h4{
	font-family: 'Oxygen', sans-serif;
	font-size: 20px; 
}

.aboutCard  p{
	font-family: 'Oxygen', sans-serif;
	font-size: 15px; 
}


/*Sample**********************************************************************/
.skillRight{
	height: 100vh;
	padding: 20px;
	
}

.skillRight p{
	color: black;
	font-size: 15px;

}

.skillRight h3{
	font-family: Helvetica;
	font-size: 30px;
	padding-top: 3%;
	padding-bottom: 15px;
	color: black;
	
}


.bar1{
	background-color: #996600;
	height: 20px;
	width: 300px;
	position: relative;
	z-index: 1;
}

.bar2{
	background-color: #ffcc66;
	height: 20px;
	width: 250px;
	position: relative;
	top: -20px;
	z-index: 2;

}
.bar2 p{
	padding-left: 5px;
}

.bar3{
	background-color: #ffcc66;
	height: 20px;
	width: 200px;
	position: relative;
	top: -20px;
	z-index: 2;

}
.bar3 p{
	padding-left: 5px;
}

.bar4{
	background-color: #ffcc66;
	height: 20px;
	width: 225px;
	position: relative;
	top: -20px;
	z-index: 2;

}
.bar4 p{
	padding-left: 5px;
}

/*Sample**********************************************************************/



/*Project*/


#project{
	background-position: center;
	background-size: cover;
	/* background-color: black; */
	padding: 20px 0;
	height: 100vh;
}

#projTitle > h1{
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 50px;
	padding-top: 50px;
}

#imgProj{
    height: 150px;
    width: 150px;
    margin: 0 auto;
    max-width: 120px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-bottom:25px;
}

.card{
    height: 60vh;
}

.item{
    padding:15px;
    outline: none;
}

.item-inner{
    background: linear-gradient(45deg, #ff6600, #fff000);
    border-radius: 18px;
    text-align: center;
    padding:25px;
}

.item-inner h4{
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
}

.item-inner p{
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.social{
    margin-top: 50px;
}

.social a{
    display: inline-block;
    width:45px;
    height: 45px;
    line-height:45px;
    background-color: black;
    color: #ff6c00;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    margin:0 5px;
    transition: all ease 0.5s;
}
.social a:hover{
    transform: translateY(-10px);
}
/* BG color */
.item2 .item-inner{
    background: linear-gradient(45deg, #0060ff, #fe0ff0);
}
.item3 .item-inner{
    background: linear-gradient(45deg, #00c0ff, #5ad607);
}
.item4 .item-inner{
    background: linear-gradient(45deg, #ffd200, #07d676);
}
.item5 .item-inner{
    background: linear-gradient(45deg, #0b618a, #07d6b9);
}
.item6 .item-inner{
    background: linear-gradient(45deg, #d1e8e2, #d9b08c);
}
.item7 .item-inner{
    background: linear-gradient(45deg, #d1e8e2, #ffcb9a);
}

/* icon color */
.item2 .social a{
    color: #0f5cff
}
.item3 .social a{
    color: #06c1ed
}
.item4 .social a{
    color: #f0d207
}
.item5 .social a{
    color: #0a698d
}
.item6 .social a{
    color: #06c1ed
}.item7 .social a{
    color: #f0d207
}

.slick-slide{
    transform: scale(0.8);
    opacity: 0.3;
    transition: all ease 0.5s;
}
.slick-slide.slick-current{
    transform:scale(1);
    opacity:1;
}

/* Slider Control */
.slick-arrow{
    position:absolute;
    bottom:0;
    z-index: 100;
	/* background:#fff; */
	background-color: rgba(136,133,133,0.5);
    border:none;
    padding: 8px 15px;
    border-radius: 50px;
    width: 100px;
    outline:none;
}

/* .slider{
background-color: black;
} */

.slick-next{
    left:52%;
}

.slick-prev{
    left:43%;
}

.slick-list{
    padding-top: 55px !important;
    padding-bottom: 55px !important;
}

/* end of proj 2 */


/*Skill Set*/
.imageSkill{
	width: auto;
	height: 500px;
}
#skill{
	padding: 50px 15px;
	text-align: center;
	height: 100vh;
}

#skill h2 {
	color: black;
	margin-bottom: 30px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 50px;
}

#skill  ul {
	display: block;
	margin: 0 auto;
	padding: 0;
	max-width: 800px;
}

#skill li {
	display: inline-block;
	margin: 7px;
	padding: 5px 10px;
	color: white;
	background: darken(#f2f2f5, 5%);
	list-style: none;
	cursor: default;
	font-size: 30px;
	font-family: 'Oxygen', sans-serif;
}

/* Contact Updated */

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

#contact-section{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)), url('../images/contactBG.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-bottom: 2%;
}

#contact-section .container h2{
	text-align: center;
	padding-top: 10%;
    text-decoration: underline;
    text-underline-position: under;
    color: rgb(238,235,235);
    letter-spacing: 2px;
}

#contact-section .container p{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    color: #fff;
    letter-spacing: 3px;
}

.contact-form i.fa{
    font-size: 22px;
    padding: 3%;
    background-color: none;
    margin: 2%;
    cursor: pointer;
    border: 2px solid rgb(190,190,190);
    color: rgb(190,190,190);
    border-radius: 80%;
}

.contact-form i.fa:hover{
    cursor: pointer;
    border: 2px solid #fff;
    color: #fff;
}

.contact-form{
    display: grid;
    grid-template-columns: auto auto;
}

.form-info{
    font-size: 16px;
    font-style: italic;
    color: #fff;
    letter-spacing: 2px;
}

input{
    padding:10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136,133,133,0.5);
    color: #fff;
    border: none;
    outline: none;
}

input::placeholder{
    color: #fff;
}

textarea{
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136,133,133,0.5);
    color: #fff;
    border: none;
    outline: none;
}

textarea::placeholder{
    color: #fff;
}

.submit{
    width: 40%;
    background: none;
    padding: 4px;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 3%;
    border: 2px solid rgb(190,190,190);
    color: rgb(190,190,190);
}

/* .submit:hover{
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
} */

.form-icon{
    margin-left: 20%;
}

/* media queries */
@media (max-width: 768px){
    #contact-section .contact-form{
        display: block;
        width: 100%;
        text-align: center;
    }
    #contact-section .submit{
        width: 60%;
    }

    .form-icon{
        margin-left: auto;
    }
}


/* End Contact Updated */

/*iphone 6/7/8*/
@media only screen and (max-width: 450px){

	#mySidenav{
		display: block;
	}
	/*side nav css start*/
	#navIcon{
	position: fixed;
	top: 1%;
	left: 2%;
	display: block;
	z-index: 999;
	}

	#navIcon img{
		height: 25px;
		width: 25px;
		
	}
	.sidenav{
	  height: 100%;
	  width: 0;
	  position: fixed;
	  z-index: 1000;
	  top: 0;
	  left: 0;
	  background-color: #e68afd;
	  overflow-x: hidden;
	  transition: 0.5s;
	  padding-top: 40px;
	}

	.sidenav a{
	  padding: 8px 10px 8px 32px;
	  text-decoration: none;
	  font-size: 18px;
	  color: white;
	  display: block;
	  transition: 0.3s;
	  font-family: Helvetica;
	}

	.sidenav a:hover{
	  color: black;
	  background-color: #d994eb;
	}

	.sidenav .closebtn{
	  position: absolute;
	  top: 0;
	  right: 15px;
	  font-size: 20px;
	  margin-left: 50px;
	}
	/*side nav css end*/

	#nav1{
		display: none;
	}

	.main-proj{
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 80vh;
	
		flex-direction: column;
	}
	.proj > img{
		align-items: center;
	}

	.proj{
		height: 30%;
		width: 50%;
	}
	
	.header-text{
		width: 80%
	}

/*	#about{
		font-family: 'Marck Script', cursive;
		height: 100vh;
		font-size: 25px;
		align-items: center;
		justify-content: space-around;
		display: flex;
		background: rgb(228,195,132);
		background: radial-gradient(circle, rgba(228,195,132,1) 0%, rgba(212,125,55,1) 100%);
		opacity: 1.5;
	
		padding: 75px 15px;
		border-bottom: 1px solid 1px solid #e6e6e6;
	}*/



	

/*nav bar*/
nav{
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top:0;
	background: rgb(111,51,26);
	background: linear-gradient(0deg, rgba(111,51,26,1) 0%, rgba(253,139,45,1) 100%);
	color: white;
}

nav > ul{
	display: flex;
	list-style-type: none;
	font-family: 'Marck Script', cursive;
	}

nav > ul > li{
	margin: 0 10px;
	}

}

/*ipad*/
@media only screen and (min-width: 451px) and (max-width: 960px){

	.main-proj{
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
	}

	.header-text{
	height: 50vh;
	width: 50%;
	justify-content: center;
}

	header{
		height: 100vh;
		font-family: 'Marck Script', cursive;
		text-align: center;
		justify-content: space-around;
		display: flex;
		align-items: center;
		font-size: 30px;
		background-image: url(../images/landing-bg.jpg);
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
	}

		/*#about{
			font-family: 'Marck Script', cursive;
			font-size: 25px;
			align-items: center;
			width: 100%;
			justify-content: center;
			display: auto;
			background: rgb(228,195,132);
			background: radial-gradient(circle, rgba(228,195,132,1) 0%, rgba(212,125,55,1) 100%);
			opacity: 1.5;
		
		}
		#about > div{
			border: solid black;
			text-align: center;
		}*/

		.proj{
			border-radius: 10px;
			height: 30%;
			width: 50%;
			text-align: center;
			background-image: url(../assets/images/proj1.1.png)
			
		/*	align-items: center;
			justify-content: center;
			display: flex;*/
		}

		.proj > img{
			align-items: center;
		}
	
	nav{
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: sticky;
		top:0;
		background: rgb(111,51,26);
		background: linear-gradient(0deg, rgba(111,51,26,1) 0%, rgba(253,139,45,1) 100%);
		color: white;
	}
	
	nav > ul{
		display: flex;
		list-style-type: none;
		font-family: 'Marck Script', cursive;
	}
	
	nav > ul > li{
		margin: 0 20px;
	}

	
}



